<h1><%= @user.email %></h1>
<h2>Role: <%= @user.role %></h2>
<% @user.bookings.each do |booking| %>
<p><%= booking.course.title %> <%= booking.course.start_date.to_formatted_s(:short) %> <%= link_to 'delete', booking_path(booking), method: :delete %></p>
</p>
<% end %>