<h1><%= @course.title %></h1>
<p>Level: <%= @course.level %></p>
<p>Room: <%= @course.classroom.room %></p>
<p>Floor: <%= @course.classroom.floor %></p>
<p>Starts: <%= @course.start_time.to_s(:time) %></p>
<p>Ends: <%= @course.end_time.to_s(:time) %></p>
<p>Start date: <%= @course.start_date %></p>
<p>End date: <%= @course.end_date %></p>
<p>Description: <%= @course.description %></p>
<%= link_to 'Edit', edit_course_path(@course) %>
<%= link_to 'Delete', course_path(@course), method: :delete %>
<% if user_signed_in? %>
  <%= form_for Booking.new do |f| %>
    <%= f.hidden_field :course_id, value: @course.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :status, value: 'pending' %>
    <%= f.submit 'Book Course' %>
  <% end %>
<% else %>
 <p>You must sign up to book a course with General Assembly.</p>
 <%= link_to "signup", new_user_registration_path %>
<% end %>