<!DOCTYPE html>
<html>
<head>
  <title>SchedulePlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to image_tag("ga.png", width: "200" ), root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <% if user_signed_in? && current_user.admin? %>
            <li class="has-dropdown">
              <%= link_to 'Classrooms', classrooms_path %>
              <ul class="dropdown">
                <li><%= link_to 'New', new_classroom_path %></li>
              </ul>
            </li>
          <% end %>
          <li><%= link_to 'Courses', courses_path %></li>
          <li><%= link_to 'Bookings', user_path(current_user) if user_signed_in? %></li>
        </ul>
        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <li class="divider"></li>
             <li><%= link_to('Edit registration', edit_user_registration_path) %></li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
            <li class="divider"></li>
            <li><%= link_to('Sign up', new_user_registration_path)  %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
  <div class="row">
    <div class="small-6 small-offset-3 columns"><h2><%= link_to 'Schedule Planner', root_path %></h2></div>
    <div class="small-3 columns" >
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>
  <div class="row">
    <div class="small-8 small-offset-2 columns"><%= yield %></div>
  </div>
</body>
</html>
